<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lossydragon.nexusclock">

    <uses-permission android:name="android.permission.SET_ALARM" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:logo="@drawable/widget_icon"
        android:supportsRtl="true"
        tools:ignore="AllowBackup,MissingApplicationIcon">

        <receiver
            android:name=".ClockWidget"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget" />

        </receiver>

        <receiver
            android:name=".ClockWidget2"
            android:label="@string/app_name_dark">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget2" />

        </receiver>
    </application>
</manifest>